In [2]:
import pandas as pd

# Load Dataset Efficiently

data = pd.read_csv("unclean_orders_500.csv")

print(data)

      Order_ID  Customer Name                  Email  Age  Gender  Country  \
0       ORD001    Chris Evans  chris.evans@email.com  NaN  Female    Spain
1       ORD002     Jane Smith   jane.smith@email.com   53    Male  Germany
2       ORD003    Chris Evans  chris.evans@email.com  abc  Female       UK
3       ORD004   Emily Davis   emily.davis@email.com  NaN    Male    China
4       ORD005     Mike Brown   mike.brown@email.com  NaN    Male    China
...        ...            ...                    ...  ...     ...      ...
10014  ORD6396     Mike Brown   mike.brown@email.com  abc    Male  Germany
10015  ORD6309       Liu Wei       liu.wei@email.com  abc    Male    India
10016  ORD3193    Emily Davis  emily.davis@email.com  NaN    Male      USA
10017  ORD8514    Chris Evans  chris.evans@email.com  NaN    Male    India
10018  ORD8349        Liu Wei      liu.wei@email.com  abc  Female       UK

       Order_Date     Product     Category  Price  Quantity  Total_Amount  \
0      05-06-2023  Headphones  Electronics    135         1           135
1      2023-07-12      Tablet  Accessories    673         3          2019
2      2023-03-10       Phone  Electronics    888         2          1776
3      2023-03-10      Laptop  Electronics   1099         3          3297
4      05-06-2023  Headphones  Accessories   1458         2          2916
...           ...         ...          ...    ...       ...           ...
10014  15-02-2023      Tablet      Fashion   1426         3          4278
10015  2023/04/05       Phone  Accessories     90         2           180
10016  15-02-2023      Laptop  Electronics     49         2            98
10017  05-06-2023      Camera  Accessories   1003         3          3009
10018  2023-03-10     T-Shirt      Fashion    551         3          1653

      Payment_Method Order_Status
0        Credit Card      Shipped
1         Debit Card     Returned
2             PayPal      Shipped
3         Debit Card      Shipped
4                NaN    Delivered
...              ...          ...
10014    Credit Card      Shipped
10015         PayPal     Returned
10016            UPI    Cancelled
10017            NaN      Shipped
10018    Credit Card    Cancelled

[10019 rows x 14 columns]

In [3]:
# Initial Data Profiling

print(data.shape)
print(data.head())
print(data.info())
print(data.describe())

(10019, 14)
  Order_ID  Customer Name                  Email  Age  Gender  Country  \
0   ORD001    Chris Evans  chris.evans@email.com  NaN  Female    Spain
1   ORD002     Jane Smith   jane.smith@email.com   53    Male  Germany
2   ORD003    Chris Evans  chris.evans@email.com  abc  Female       UK
3   ORD004   Emily Davis   emily.davis@email.com  NaN    Male    China
4   ORD005     Mike Brown   mike.brown@email.com  NaN    Male    China

   Order_Date     Product     Category  Price  Quantity  Total_Amount  \
0  05-06-2023  Headphones  Electronics    135         1           135
1  2023-07-12      Tablet  Accessories    673         3          2019
2  2023-03-10       Phone  Electronics    888         2          1776
3  2023-03-10      Laptop  Electronics   1099         3          3297
4  05-06-2023  Headphones  Accessories   1458         2          2916

  Payment_Method Order_Status
0    Credit Card      Shipped
1     Debit Card     Returned
2         PayPal      Shipped
3     Debit Card      Shipped
4            NaN    Delivered
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10019 entries, 0 to 10018
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Order_ID        10019 non-null  object
 1   Customer Name   10019 non-null  object
 2   Email           10019 non-null  object
 3   Age             6681 non-null   object
 4   Gender          10019 non-null  object
 5   Country         10019 non-null  object
 6   Order_Date      10019 non-null  object
 7   Product         10019 non-null  object
 8   Category        10019 non-null  object
 9   Price           10019 non-null  int64
 10  Quantity        10019 non-null  int64
 11  Total_Amount    10019 non-null  int64
 12  Payment_Method  8007 non-null   object
 13  Order_Status    10019 non-null  object
dtypes: int64(3), object(11)
memory usage: 1.1+ MB
None
              Price      Quantity  Total_Amount
count  10019.000000  10019.000000  10019.000000
mean     762.542968      2.002296   1525.559038
std      425.142410      0.817491   1111.802683
min       20.000000      1.000000     20.000000
25%      394.000000      1.000000    642.000000
50%      773.000000      2.000000   1246.000000
75%     1127.000000      3.000000   2268.000000
max     1500.000000      3.000000   4500.000000

In [4]:
# Cleaning column name

data.columns = (data.columns
    .str.strip()
    .str.lower()
    .str.replace(" ", "_")
)

In [5]:
# Remove white spaces from row.

data = data.map(
    lambda x: x.strip() if isinstance(x, str) else x
)

In [6]:
data.head()

,order_id,customer_name,email,age,gender,country,order_date,product,category,price,quantity,total_amount,payment_method,order_status
0,ORD001,Chris Evans,chris.evans@email.com,NaN,Female,Spain,05-06-2023,Headphones,Electronics,135,1,135,Credit Card,Shipped
1,ORD002,Jane Smith,jane.smith@email.com,53,Male,Germany,2023-07-12,Tablet,Accessories,673,3,2019,Debit Card,Returned
2,ORD003,Chris Evans,chris.evans@email.com,abc,Female,UK,2023-03-10,Phone,Electronics,888,2,1776,PayPal,Shipped
3,ORD004,Emily Davis,emily.davis@email.com,NaN,Male,China,2023-03-10,Laptop,Electronics,1099,3,3297,Debit Card,Shipped
4,ORD005,Mike Brown,mike.brown@email.com,NaN,Male,China,05-06-2023,Headphones,Accessories,1458,2,2916,NaN,Delivered

In [7]:
#  Fix Age

# convert age colum to numeric and if error in converting unknown value then covert NaN
data['age'] = pd.to_numeric(data['age'], errors = 'coerce')

# fill NaN value with median
data['age'].fillna(data['age'].median(), inplace = True)

C:\Users\jayan\AppData\Local\Temp\ipykernel_6496\764012971.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['age'].fillna(data['age'].median(), inplace = True)

In [8]:
#  Fix numeric columns

data['price'] =    pd.to_numeric   (data['price'], errors = 'coerce') 
data['quantity'] = pd.to_numeric(data['quantity'], errors = 'coerce')

In [24]:
# systematic date formate

data['order_date'] = pd.to_datetime(
    data['order_date'], errors = 'coerce'
)

# fill the missing dates

data['order_date'].fillna(method = 'ffill', inplace = True)

#  Convert to standard format

data['order_date'] = data['order_date'].dt.strftime('%y-%m-%d')

C:\Users\jayan\AppData\Local\Temp\ipykernel_6496\2056492797.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['order_date'].fillna(method = 'ffill', inplace = True)
C:\Users\jayan\AppData\Local\Temp\ipykernel_6496\2056492797.py:9: FutureWarning: Series.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  data['order_date'].fillna(method = 'ffill', inplace = True)

In [9]:
print(data.columns)

Index(['order_id', 'customer_name', 'email', 'age', 'gender', 'country',
       'order_date', 'product', 'category', 'price', 'quantity',
       'total_amount', 'payment_method', 'order_status'],
      dtype='object')

In [10]:
# Handle missing payment method

data['payment_method'].fillna("Unknown", inplace=True)

C:\Users\jayan\AppData\Local\Temp\ipykernel_6496\2142463686.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  data['payment_method'].fillna("Unknown", inplace=True)

In [11]:
# Remove rows with missing date

data.dropna(subset=['order_date'], inplace=True)

In [12]:
# Remove invalid emails

data = data[data['email'].str.contains("@",na = False)]

In [14]:
# Recalculate total amount

data['total_amount'] = data['price'] * data['quantity']

In [16]:
# Standardize text

data['gender'] = data['gender'].str.capitalize()
data['country'] = data['country'].str.title()

In [20]:
# Remove invalid values

data = data[(data['price'] > 0) & (data['quantity'] > 0)]

In [27]:
# Save cleaned data

data.to_csv("cleaned_datset2.csv", index = False)

In [25]:
print(data['order_date'].head(20))

0     23-05-06
1     23-05-06
2     23-05-06
3     23-05-06
4     23-05-06
5     23-05-06
6     23-05-06
7     23-05-06
8     23-05-06
9     23-05-06
10    23-05-06
11    23-05-06
12    23-05-06
13    23-05-06
15    23-05-06
16    23-05-06
17    23-05-06
18    23-05-06
19    23-05-06
20    23-05-06
Name: order_date, dtype: object